<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Gotta Catch'em All!</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
    <br>
    <br>
    <div class="container-fluid">
      
      <!-- User types in PokeDex number, then the Application Controller grabs the user's PokeDex Number-->
      <form method="post" action="/result">
        
        <h1>POKEMON SEARCH</h1>
       
        <h2>Hello Trainer, welcome to the world of pokemon, ask me about any of the 150 kinds of pokemon and I will tell you all that I know!</h2>
      
       <h1>Pokedex number:</h1><input type="text" name="user_num"> 
         <input type= "Submit">
      </form>
    </div>
    
    
  </body>
</html>
