body{
   background-color: #00FFFF;
    text-align: center;
   font-family: 'Raleway', sans-serif;
}

h1{
    
    color: red;
    text-shadow: blue;
    text-transform: uppercase;
}
h2{
    color: black;
    text-shadow: blue;
    text-transform: uppercase;
}

