body{
   /*background: #00FFFF url("http://cdn.bulbagarden.net/upload/8/84/Professor_Oak_XY.png") no-repeat;*/
   margin-top: 50%;
    
}
form{
    text-align: center;
}
h1{
    font-family: cursive;
    color: red;
    text-shadow: blue;
}